<div>
    <button class="btn btn-primary" (click)="src = 'https://images.pexels.com/photos/17411073/pexels-photo-17411073/free-photo-of-blanco-y-negro-planta-trigo-enfoque-selectivo.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load'">
        Imagen arbol
    </button>
    <button class="btn btn-danger" (click)="src = 'https://images.pexels.com/photos/14534046/pexels-photo-14534046.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load'">
        imagen ventana
    </button>
</div>

<img [src]="src" alt="">
