<h3>Formulario reactivo</h3>
<div class="card">
    <div class="card-body">
        <form [formGroup]="formUser" (ngSubmit)="procesar()">
            <div class="mb-2">
                <label class="form-label">Nombre</label>
                <input type="text" formControlName="name" class="form-control" placeholder="Ingresa tu nombre">
                <div class="alert alert-danger mt-2" [hidden]="name?.valid || name.pristine"> 
                    <!-- [hiden] hace que se oculte si valid es TRUE o cuando no se haya escrito nada aun (pristine) -->
                    Este campo es obligatorio
                </div>
            </div>
            <div class="mb-2">
                <label class="form-label">Email</label>
                <input type="text" formControlName="email" class="form-control" placeholder="Ingresa tu email">
                <!-- [hiden] hace que se oculte si valid es TRUE o cuando no se haya escrito nada aun (pristine) -->
                <div class="alert alert-danger mt-2" [hidden]="email.valid || email.pristine"> 
                    <!-- ?. verifica que el array ERRORS contiene un indice llamado required y me muestra el valor TRUE o FALSE -->
                    <span *ngIf="email.errors?.['required']"> 
                        Este campo es obligatorio
                    </span>
                    <!-- ?. verifica que el array ERRORS contiene un indice llamado email(válido) y me muestra el valor TRUE o FALSE -->
                    <span *ngIf="email.errors?.['email']">
                        Debes ingresar un email valido
                    </span>
                </div>
            </div>
            <button class="btn btn-primary" [disabled]="formUser.invalid" >Enviar</button>
            
        </form>
        
    </div>
</div>

<br>
{{ formUser.get('name')?.value | json }} <!-- se coloca ? para controlar el valor nulo-->
<br>
{{ formUser.value | json }}