<div class="card">
    <div class="card-body">
        <form (ngSubmit)="procesar()" #formContact="ngForm"> <!-- ngForm para acceder a estados del form-->
            <div class="mb-2">
                <label class="form-label">Nombre</label>
                <input type="text" name="nombre" class="form-control" placeholder="Ingresa tu nombre" [(ngModel)]="persona.nombre" required #name="ngModel">
                <div class="alert alert-danger mt-2" [hidden]="name.valid || name.pristine"> 
                    <!-- [hiden] hace que se oculte si valid es TRUE o cuando no se haya escrito nada aun (pristine) -->
                    Este campo es obligatorio
                </div>
            </div>
            <div class="mb-2">
                <label class="form-label">Edad</label>
                <input type="number" name="edad" class="form-control" placeholder="Ingresa tu edad" [(ngModel)]="persona.edad" required #edad="ngModel">
                <div class="alert alert-danger mt-2" [hidden]="edad.valid || edad.pristine"> 
                    <!-- [hiden] hace que se oculte si valid es TRUE o cuando no se haya escrito nada aun (pristine) -->
                    Este campo es obligatorio
                </div>
            </div>
            <button class="btn btn-primary" [disabled]="formContact.invalid">
                Enviar
            </button>
        </form>
    </div>

</div>

{{ name.errors | json }} <!-- ver reglas de validacion del input name, muestra null si no hay reglas incorrectas -->
{{ edad.errors | json }} <!-- ver reglas de validacion del input name, muestra null si no hay reglas incorrectas -->
<br>
{{ name.valid }} <!-- ver si el input name es valido, muestra TRUE si es valido -->
{{ edad.valid }} <!-- ver si el input name es valido, muestra TRUE si es valido -->
<br>
{{ formContact.valid }} <!-- ver si el form es valido, muestra TRUE si es valido -->